html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#mapContainer {
  height: 100%;
  width: 68%;
  float: left;
}
#map {
  height: 100%;
  width: 100%;
  float: left;
}
#overMap {
  margin: 0 auto;
  position: absolute;
  top: 90%;
  left: 7%;
  z-index: 99;
}
#textDirContainer {
  margin-left: 18px;
  float: right;
  width: 350px;
  height: 94.4%;
}
#textDirections {
  width: 330px;
  height: 100%;
  overflow: auto;
}
#inputAndResultsDiv {
  margin-top: 5px;
  float: right;
  height: 95%;
}
#yelpImage {
  height: 30px;
  width: 129px;
}
#inputDir {
  width: 400px;
  height: 151px;
}
.numBox {
  width: 20px;
}
.stringBox {
  width: 50px;
}
#resultsContainer {
  float: right;
  height: 81%;
  width: 410px;
  overflow: auto;
}
#resultsContent {
  width: 400px;
}
.yelpEntryClass {
  display: table-row;
}
.businessNameDivClass {
  padding-left: 5px;
}
.ratingDivClass {
  padding-left: 5px;
}
.snippetTextDivClass {
  padding-left: 5px;
}
.ratingClass {
  float: left;
}
.reviewCountClass {
  font-size: small;
}
.snippetContainerClass {
  float: right;
  width: 260px;
  height: 30px;
}
.snippetImgClass {
  height: 30px;
  width: 30px;
}
.snippetTextClass { 
  margin-top: 0px;
  padding-left: 5px;
  font-size: small;
}
.businessDivClass {
  display: table-cell;
  vertical-align: top;
}
.readMoreLinkClass {
  font-size: small;
}
.btnAddToRouteClass {
  margin-left: 5px;
}